:root {
  color-scheme: dark;
  --ig-primary-background: 0, 0, 0;
  --ig-separator: 38, 38, 38;
  --ig-hover-overlay: 255, 255, 255, 0.1;
  --nav-medium-width: 244px;
  --nav-narrow-width: 72px;
  --ig-primary-text: 245, 245, 245;
  --ig-secondary-text: 168, 168, 168;
  --ig-primary-button: 0, 149, 246;
  --ig-tertiary-text: 115, 115, 115;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(var(--ig-primary-background));
}
