.carousel {
  overflow: hidden;
  position: relative;
}

.carousel__inner {
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.carousel__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.carousel__leftArrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent;
  border: 0;
}

.carousel__rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent;
  border: 0;
}
